.header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.logotipo {
  display: flex;
  align-items: center;
}

.logotipo__titulo {
  color: var(--cinza-escuro);
  font-size: 18px;
  margin-left: 0.5em;
}

.lista__paginas,
.botões {
  display: flex;
  align-items: center;
}

.paginas__item {
  padding: 0.8em;
}

.paginas__link {
  text-decoration: none;
  color: var(--cinza-medio);
}

.paginas__link:hover {
  color: var(--cinza-escuro);
}

.botão__entrar {
  padding: 1em;
  border-radius: 8px;
}

.botão__entrar:hover {
  background-color: var(--cinza-claro);
}

.botão__entrar-link {
  text-decoration: none;
  color: var(--cinza-medio);
}

.botão__entrar:hover > .botão__entrar-link {
  color: var(--branco);
}

.botão__cadastrar {
  padding: 1em;
  border-radius: 8px;
  background-color: var(--vermelho-principal);
  margin-left: 0.5em;
}

.botão__cadastrar:hover {
  background-color: var(--vermelho-escuro);
}

.botão__cadastrar-link {
  text-decoration: none;
  color: var(--branco);
}
